<h1>This is the welcome screen for the Steelfit Project</h1>
<p>There should be some basic info here about what the site
does and maybe some basic recipe information<br>
Should contain search by ingredient and login<br> 
After login would come back to this page</p>

<%= link_to 'My grocerylist', controller: 'grocerylists' %>
